.row{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    align-items: center;
}

.col1{
    /* background-color: aqua; */
    position: relative;
    margin-left: 120px;
    width: 50%;
}

.col1 h2{
    font-size: 54px;
    line-height: 1.1em;
}
.col1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 300;

}
.col1 p{
    font-size: 20px;
    color: #a8a8a8;
    font-weight: 300;
}
.col1 h4{
    font-size: 20px;
    color: #1f1f1f;
    font-weight: 700;
    margin: 20px 0;
    transition: 0.;
    /* background-color: #a8a8a8; */
    padding-bottom: 20px ;
}
.btn{
    cursor: pointer;
    width: 140px;
    padding: 12px 10px;
    text-align: center;
    background-color: #ff5ea2;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    transition: 0.5s;
    background: linear-gradient(to right, #fb5283, #ff3527);
}

/* button img{
    width: 30px;
    display: none;
   
}
button:hover img{
    /* width: 30px; 
    display: block;
    
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
   
} */

.col1::after{
    content: '';
    width: 10px;
    height: 58%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 11%;

}

.col2{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    
}

.col2 .controller{
    width: 90%;
    z-index: 10000;
}

.colorbox{
    position: absolute;
    right: 0;
    top: 5%;
    background: linear-gradient(#ff54a2, #ff575a);
    height: 90%;
    width: 90%;
    z-index: -10000;
    border-radius: 20px 0 0 20px ;
    transform: translateX(154px);
}

@media screen and (max-width: 768px) {
    
    .row{
        flex-direction: column-reverse;
        margin-top: 45px;
        margin-left: 100px;
    }

    .col2{
    flex-basis: 100%;
    margin-bottom: 50px;
    }

    .col2 .controller{
        width: 77%;
        margin-left: 30%;
    }

    .colorbox{
        transform: translate(100px,-30px);
        /* transform: translateY(-20px); */
        width: 125%;
        height: 150%;
    }

    .col1 h2{
        font-size: 45px;
    }
    .col1 h3{
        font-size: 15px;
        width: 290%;
    }

    .col1{
        margin-left: -210px;
    }

    .col1 p{
        font-size: 12px;
    }
}